@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
  color: #2f2f2e;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  text-transform: capitalize;
  background-color: #ffb00d;
  color: #fff;
  padding: 0.4em 1.5em;
  margin-top: 2em;
  border-radius: 5px;
  cursor: pointer !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

section {
  padding-block: 4em;
}

.main-title {
  font-weight: 700;
  font-size: 2.625rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main-title::after {
  content: "";
  height: 8px;
  width: 102%;
  background-color: #ffb00d;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
  z-index: -1;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
}

.body-text {
  font-size: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*  layouts  */
.showcase {
  position: relative;
  min-height: 100vh;
}

.showcase::after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #2323f5, #e425a4);
  mix-blend-mode: multiply;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.showcase #header {
  height: 70px;
  position: relative;
  z-index: 10000;
}

.showcase #header.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #000;
}

.showcase #header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.showcase #header .logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffb00d;
}

.showcase #header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase #header .nav .nav-list .nav-list-item:not(:last-child) {
  margin-right: 2em;
}

.showcase #header .nav .nav-list .nav-list-item button {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.showcase #header .nav .nav-list .nav-list-item a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.showcase #header .nav .nav-list .nav-list-item a::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.showcase #header .nav .nav-list .nav-list-item a:hover::after {
  width: 100%;
}

.showcase #header .nav .nav-list .nav-list-item a.active::after {
  width: 100%;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item {
  position: relative;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item button:focus + .dropdown-list {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item i {
  padding-left: 0.5em;
  color: #fff;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item .dropdown-list {
  position: absolute;
  left: 0;
  top: calc(100% + 20px);
  pointer-events: none;
  background-color: #fff;
  min-width: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  z-index: 1000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item .dropdown-list li {
  border-bottom: 1px solid #f1f0f1;
  width: 100%;
  text-align: center;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item .dropdown-list a {
  display: inline-block;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showcase #header .nav .nav-list .nav-list-item.dropdown-item .dropdown-list a:hover {
  background-color: #f1f0f1;
}

.showcase #header .nav-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* cart section */
  /* cart body */
}

.showcase #header .nav-cart-container i {
  cursor: pointer;
  color: #fff;
}

.showcase #header .nav-cart-container i:not(:last-child) {
  margin-right: 2em;
}

.showcase #header .nav-cart-container .cart {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vw;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showcase #header .nav-cart-container .cart.active {
  opacity: 1;
  pointer-events: auto;
}

.showcase #header .nav-cart-container .cart.active .cart-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase #header .nav-cart-container .cart-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  background-color: #fff;
  padding: 2em;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showcase #header .nav-cart-container .cart-close-btn {
  position: absolute;
  left: 25px;
  top: 20px;
}

.showcase #header .nav-cart-container .cart-close-btn i {
  color: #ffb00d;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showcase #header .nav-cart-container .cart-close-btn:hover i {
  color: #000;
}

.showcase #header .nav-cart-container .title {
  text-align: center;
  padding-block: 2em;
}

.showcase #header .nav-cart-container .cart-body {
  width: 100%;
}

.showcase #header .nav-cart-container .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase #header .nav-cart-container .cart-row:not(:last-child) {
  margin-bottom: 2em;
}

.showcase #header .nav-cart-container .cart-img-container img {
  height: 100%;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase #header .nav-cart-container .cart-text {
  margin-left: 2em;
}

.showcase #header .nav-cart-container .cart-text .item-price {
  color: #ffb00d;
}

.showcase #header .nav-cart-container .cart-text .remove-item-btn {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #2f2f2e;
  cursor: pointer;
}

.showcase #header .nav-cart-container .quantity-container {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase #header .nav-cart-container .quantity-container span i {
  color: #000;
  font-size: 1.125rem;
}

.showcase #header .nav-cart-container .quantity-container span.up i,
.showcase #header .nav-cart-container .quantity-container span.down i {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.showcase #header .nav-cart-container .quantity-container span.up i:hover,
.showcase #header .nav-cart-container .quantity-container span.down i:hover {
  color: #ffb00d;
}

.showcase #header .nav-cart-container .cart-footer {
  padding: 2em 0;
  text-align: center;
}

.showcase #header .nav-toggle {
  display: none;
}

.showcase .slide-container {
  position: absolute;
  inset: 0;
}

.showcase .slide-container .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.showcase .slide-container .slide.active {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.showcase .slide-container .slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase .slide-container .slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

.showcase .slide-container .slide .content h3,
.showcase .slide-container .slide .content h1,
.showcase .slide-container .slide .content p {
  color: #fff;
}

.showcase .slide-container .slide .content h3 {
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.showcase .slide-container .slide .content h1 {
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 5px;
}

.showcase .slide-container .slide .content p {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.showcase .slider-indicator {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 150;
}

.showcase .slider-indicator span {
  display: inline-block;
  height: 3px;
  width: 100px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showcase .slider-indicator span.active {
  opacity: 1;
}

.showcase .slider-indicator span:hover {
  opacity: 1;
}

.showcase .slider-indicator span:not(:last-child) {
  margin-right: 0.1em;
}

/* hero section */
.hero .hero-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f1f0f1;
  padding: 3em;
}

.hero .hero-img img {
  width: 50%;
  mix-blend-mode: multiply;
}

.hero .hero-text .title {
  margin-bottom: 1em;
}

/* footer section */
.footer {
  height: 50vh;
  background-color: #000;
}

.footer .container {
  height: inherit;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer p {
  color: #808080;
  font-weight: 300;
}

/* media queries */
@media (max-width: 760px) {
  .showcase header .nav-toggle {
    display: block !important;
    position: relative;
    color: #fff;
    font-size: 1.125rem;
    z-index: 99999;
  }
  .showcase header .nav-cart-container {
    position: absolute;
    top: 50%;
    right: 15%;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .showcase header .nav {
    position: fixed;
    inset: 0 0 0 30%;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    padding: 10vh 1.5em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .showcase header .nav .nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    gap: 1em;
    color: #fff;
    background-color: #000;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .showcase header .nav .nav-list .nav-list-item {
    margin: 0 !important;
  }
  .showcase header .nav[data-visible="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .showcase .slider-indicator span {
    width: 50px;
  }
}

@media (max-width: 812px) {
  .slide .content h1 {
    font-size: 2rem !important;
  }
}

/* import catalog page */
.showcase.catalog {
  background: url("../images/slide-img-1.jpg") no-repeat center center/cover;
  min-height: 80vh;
}

.showcase.catalog .showcase-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 100;
}

.showcase.catalog .showcase-content h1 {
  text-transform: capitalize;
  letter-spacing: 4px;
}

#display-product .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

#display-product .filter-btn-container {
  margin: 2em 0 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#display-product .filter-btn-container .filter-btn {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  padding: 0.5em 2em;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#display-product .filter-btn-container .filter-btn.active {
  background-color: #ffb00d;
}

#display-product .filter-btn-container .filter-btn:not(:last-child) {
  margin-right: 0.1em;
}

#display-product .product {
  border: 1px solid #f1f0f1;
  padding: 2em;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#display-product .product:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#display-product .product .title {
  margin-bottom: 0.5em;
}

#display-product .product .price {
  color: #808080;
}

#display-product .product .btn {
  cursor: pointer;
  padding: 0.6em 1.5em;
}
/*# sourceMappingURL=style.css.map */